{% extends "index.html" %}
{% block content %}
	<p>To use the API, send a HTTP POST request to <code>{{ host + url_for('read_api') }}</code> with
	the "txt" key containing the text you want to classify</p>

	<p> You will receive a JSON response of the form: </p>
	<code>
		{
		  "result": {
		    "sentiment" : "Positive",
		    "confidence" : 3.422451
		  }
		}
	</code>

    <br>
    <br>

    <p>
        <b> New! </b> A batch API has been added as the bottleneck for most of you will be in the network latency. To use it
        send a POST request with a JSON array of the texts you want to classify to <code>{{ host + url_for('batch_handler') }}</code>.
        
        You will receive another JSON array of responses (similar to the one above) corresponding to the same order
        as in the request. The maximum content size can be 1 MB per request.
    </p>
{% endblock %}
{% block scripts %}
{% endblock %}
