<!DOCTYPE HTML>
<html>
	<head>
		<title>Sentiment Tool</title>
		{% block templates %}
			<script type="text/html" id="templ-results">
			<div class="container col-md-8 col-md-offset-2">
				<blockquote>
					<p id="text"> <%= sentence %> </p>
					<p> <b>Result: </b> <%= result %> </p>
					<p> <b>Confidence Level: </b> <%= confidence %> </p>
				</blockquote>
			</div>
			</script>
			<div id="fb-root"></div>
			<script>(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=207311602615822";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));</script>
		{% endblock %}
		<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
		<link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" media="screen">
	</head>
	<body>
		<div id="container" class="container col-md-8 col-md-offset-2">
		{% block content %}
			<center> <p> Paste or enter a piece of text below to check its sentiment. </p> </center>
			<form id="form" role="form">
				<textarea name="txt" id="txt" cols="30" rows="10" class="form-control input-sm"></textarea>
				<input type="button" value="Submit" id="submit" class="form-control"/>
			</form>
			<br><br>
			<div id="result"></div>
		{% endblock %}
		{% block footer %}
			<div id="footer" class="navbar container col-md-5 col-md-offset-4">
					
					<ul class="nav navbar-nav">
					<li><a href="{{ url_for('home') }}">Home</a></li>
					<li><a href="{{ url_for('api') }}">API</a></li>
					<li><a href="{{ url_for('about') }}">About</a></li>
					<li><a href="http://github.com/vivekn/sentiment-web">Github</a></li>

					<center>
					<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://sentiment.vivekn.com" data-text="Open source sentiment analysis tool and API" data-via="_vivek_n">Tweet</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
					<div class="fb-like" data-href="http://sentiment.vivekn.com" data-width="The pixel width of the plugin" data-height="8" data-colorscheme="light" data-layout="button_count" data-action="like" data-show-faces="true" data-send="false"></div>			
					</center>
				</ul>
			</div>
		{% endblock %}
		</div>	
		{% block scripts %}
			<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='underscore-min.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
		{% endblock %}
		
	</body>
</html>